@use '../../assets/scss/vars';

.font-display {
    display: flex;
    width: inherit;
    &:not(:last-child) {
      margin-bottom: 50px;
    }
    &__description {
        margin-left: 30px;
        letter-spacing: 0;
        max-width: 370px;
    }
}

.tag-string {
    font-family: 'Montserrat';
    text-align: right;
    width: 37px;
    &_shaded {
        @extend .tag-string;
        color: vars.$primary-color25;
        font-weight: 400;
    }
}