mixin font-display(attr)
    .font-display
        #{attr.tag}(class='font-display__tag-string tag-string_shaded') #{attr.tagStr}
        #{attr.tag}(class='font-display__description') #{attr.description}