@use '../../assets/scss/vars';

.button {
  cursor: pointer;
  text-transform: uppercase;
  font: vars.$h3;
  color: vars.$accent-color;
  appearance: none;
  border: none;
  background: transparent;
  transition: color 0.4s;
  &:hover,&:focus,&:active,&_state_hovered {
    color: vars.$primary-color50;
  }
}

.button_style_border {
  cursor: pointer;
  text-transform: uppercase;
  font: vars.$h3;
  color: vars.$accent-color;
  appearance: none;
  background:
    linear-gradient(#FFF, #FFF) padding-box,
    vars.$accent-gradient border-box;
  border: 2px solid transparent;
  padding: 14px 20px 15px 20px;
  border-radius: 22px;
  transition: opacity 0.4s;
  &:hover,&:focus,&:active,&_state_hovered {
    opacity: 0.5;
  }
}

.button_style_filled {
  cursor: pointer;
  text-transform: uppercase;
  font: vars.$h3;
  color: #FFFFFF;
  appearance: none;
  border: none;
  background: vars.$accent-gradient;  
  padding: 14px 20px 15px 20px;
  border-radius: 22px;
  transition: opacity 0.4s;
  &:hover,&:focus,&:active,&_state_hovered {
    opacity: 0.5;
  }
}

.button_style_form-submit {
  position: relative;
  display: flex;
  justify-content: center;
  min-height: 44px;
  width: 100%;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  font: vars.$h3;
  color: #FFFFFF;
  appearance: none;
  border: none;
  background: vars.$accent-gradient;  
  border-radius: 22px;
  transition: opacity 0.4s;
  &::after {
    position: absolute;
    right: 18px;
    content: 'arrow_forward';
    font-family: 'Material Icons';
    text-transform: none;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    line-height: 15px;
  }
  &:hover,&:focus,&:active,&_state_hovered {
    opacity: 0.5;
  }
}