@use '../../assets/scss/vars';

.button {
  appearance: none;
  cursor: pointer;
  text-transform: uppercase;
  font: vars.$h3;
  color: vars.$accent-color;
  background: transparent;
  border: none;
  transition: opacity 0.4s;
  &:hover,&:focus,&:active,&_state_hovered {
    opacity: 0.5;
  }
}

.button_style_border {
  background:
    linear-gradient(#FFF, #FFF) padding-box,
    vars.$accent-gradient border-box;
  border: 2px solid transparent;
  border-radius: 22px;
  padding: 0 18px;
  min-height: 44px;
}

.button_style_filled {
  color: #FFFFFF;
  background: vars.$accent-gradient; 
  border: none;
  border-radius: 22px;
  padding: 14px 20px 15px 20px;
  transition: opacity 0.4s;
}

.button_style_form-submit {
  color: #FFFFFF;
  background: vars.$accent-gradient; 
  border: none; 
  border-radius: 22px;
  padding: 0 20px;
  position: relative;
  min-height: 44px;
  width: 100%;
  &::after {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    content: 'arrow_forward';
    font-family: 'Material Icons';
    text-transform: none;
    font-size: 24px;
    font-weight: 400;
    line-height: 15px;
  }
}

.button_style_header {
  min-height: 34px;
  &.button_style_form-submit::after {
    content: none;
  }
}