mixin button(attr)
  -
    let classname;
    if(attr.style==='filled') {
      classname = 'button button_style_filled';
    } else if(attr.style==='border') {
      classname = 'button button_style_border';
    } else if(attr.style==='submit') {
      classname = 'button button_style_form-submit';
    } else {
      classname = 'button';
    }
    if(attr.isForHeader) {
      classname = classname.concat(' button_style_header')
    }
  button(type=attr.type, class=classname) #{attr.value}