@use './vars';
@use './fonts.scss';

* {
  margin: 0;
  padding: 0;
}

body,input {
  font: vars.$body;
  color: vars.$primary-color75;
}

h1 {font: vars.$h1;}
h2 {font: vars.$h2;}
h3 {font: vars.$h3;}
h1,h2,h3 {color: vars.$primary-color100;}