mixin color-display(color, colorName, colorCode)
    .color-display
        div(class="color-display__color-block color-block" + color)
        .color-display__text-block
            h2.color-display__color-name #{colorName}
            p.color-display__color-code #{colorCode}