@use '../../assets/scss/vars';

.pagination {
  display: flex;
  flex-direction: column;
  align-items: center;
}

//Defaults override

.simple-pagination:not(.specifity-override) {
  padding: 0 0 10px 0;
}

.page-link,
.current {
  font: vars.$h3;
}

.demo-pag>ul>li>span,
.demo-pag>ul>li>a {
  min-height: 40px;
  min-width: 40px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.demo-pag>ul>li>a {
  background: none;
  box-shadow: none;
  border: none;
  text-decoration-line: none;
}

li.active>.current {
  background: vars.$accent-gradient;
  border-radius: 22px;
  border: none;
  box-shadow: none;
}

.page-link:not(.specifity-increase) {
  color: vars.$primary-color50;
}

.page-link.prev:not(.specifity-increase),
.page-link.next:not(.specifity-increase) {
  font-family: 'Material Icons';
  text-transform: none;
  background: vars.$selection-gradient;
  border-radius: 22px;
  border: none;
  box-shadow: none;
  font-size: 24px;
  font-weight: 400;
  color: #FFFFFF;
  transition: opacity 0.4s;
  &:hover,:active,:focus {
    @extend .page-link, .next;
    opacity: 0.5;
    color: #FFFFFF;
  }
}

.current.prev,
.current.next {
  display: none;
}

.light-theme a:not(.specifity-override),
.light-theme span:not(.specifity-override) {
  margin: 0;
}