mixin fieldset(attr)
    fieldset(class=attr.margin ? 'fieldset' + ' fieldset' + attr.size + ' fieldset_margin_left' : 'fieldset' + ' fieldset' + attr.size)
        legend.legend #{attr.title}
        block