mixin fieldset(attr)
  if attr.mod === 'double'
    fieldset(class='fieldset')
      .legend__wrap
        legend(class='fieldset__legend') #{attr.title}
        div(class='fieldset__addition')
      block
  else
    fieldset(class='fieldset')
      legend(class='fieldset__legend') #{attr.title}
      block