@use '../util/vars' as v;

.fieldset {
  border: none;
  &_size_tiny {
    width: 150px;
  }
  &_size_smaller {
    width: 222px;
  }
  &_size_small {
    width: 266px;
  }
  &_size_normal {
    width: 320px;
  }
}

.fieldset__legend {
  font: v.$h3;
  color: v.$primary-color100;
  text-transform: uppercase;
  padding-bottom: 5px;
}

.legend_padding_large {
  padding-bottom: 16px;
}