mixin fieldset(attr)
  -
    let classname, padding;
    if(attr.size === 'tiny') {
      classname = 'fieldset_size_tiny';
    } else if(attr.size==='smaller') {
      classname = 'fieldset_size_smaller';
    } else if(attr.size==='small') {
      classname = 'fieldset_size_small';
    } else {
      classname = 'fieldset_size_normal';
    }
    if(attr.padding === 'large') {
      padding = ' legend_padding_large';
    } else {
      padding = '';
    }
  if attr.mod === 'double'
    fieldset(class='fieldset ' + classname)
      .legend__wrap
        legend(class='fieldset__legend' + padding) #{attr.title}
        div(class='fieldset__addition' + padding)
      block
  else
    fieldset(class='fieldset ' + classname)
      legend(class='fieldset__legend' + padding) #{attr.title}
      block