@use '../../assets/scss/vars';

.fieldset {
  border: none;
  &_size_tiny {
    width: 150px;
  }
  &_size_smaller {
    width: 222px;
  }
  &_size_small {
    width: 266px;
  }
  &_size_normal {
    width: 320px;
  }
}

.fieldset__legend {
  font: vars.$h3;
  color: vars.$primary-color100;
  text-transform: uppercase;
  padding-bottom: 5px;
}

.legend__wrap {
  display: flex;
  justify-content: space-between;
}

.fieldset__addition {
  font: vars.$add;
  color: vars.$primary-color50;
}