doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Cards
  body 
    include ../blocks/lookup/lookup
    include ../blocks/booking/booking
    include ../blocks/registration/registration
    include ../blocks/log-in/log-in
    include ../blocks/room-card/room-card
    +room-card({rateId: 'cards5', luxe: true, reviewsNumber: '145', roomNumber: '888', roomPrice: '9 990'})
    +room-card({rateId: 'cards4', reviewsNumber: '65', roomNumber: '840', roomPrice: '9 900'})