include ../blocks/booking/booking
include ../blocks/lookup/lookup
include ../blocks/registration-card/registration-card
include ../blocks/log-in-card/log-in-card
include ../blocks/room-card/room-card

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Cards
  body 
    +lookup
    +booking
    .datepicker_inline
    +registration-card({})
    +log-in-card
    +room-card({rateId: 'cards5', luxe: true, reviewsNumber: '145', roomNumber: '888', roomPrice: '9 990'})
    +room-card({rateId: 'cards4', reviewsNumber: '65', roomNumber: '840', roomPrice: '9 900'})