include ../blocks/fieldset/fieldset
include ../blocks/text-input/text-input
include ../blocks/dropdown/dropdown
include ../blocks/datepicker/datepicker
include ../blocks/date-filter/date-filter
include ../blocks/checkbox/checkbox
include ../blocks/radio-button/radio-button
include ../blocks/like-button/like-button
include ../blocks/rate-button/rate-button
include ../blocks/range-slider/range-slider
include ../blocks/button/button
include ../blocks/pagination/pagination
include ../blocks/expandable/expandable
include ../blocks/bullet-list/bullet-list
include ../blocks/feature/feature
include ../blocks/comment/comment

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Form Elements
  body
    .wrapper
      .wrapper-row
        .wrapper-column
          .text-fields-wrap
            +fieldset({title: 'text field'})
              +text-input({type: 'text', placeholder: 'Email'})
            +fieldset({title: 'text field'})
              +text-input({type: 'text', id: 'init-text_input'})
            +fieldset({title: 'dropdown'})
              +dropdown({options: ['взрослые', 'дети', 'младенцы'], placeholder: 'Сколько гостей', id: "dd1"})
            +fieldset({title: 'masked text field'})
              +text-input({type: 'text', placeholder: 'ДД.ММ.ГГГГ', id: 'mask'})
          .dropdown-wrap
            .datepicker-wrap
              +fieldset({title: 'date dropdown', size: 'tiny'})
                +datepicker('from')
              +fieldset({title: 'date dropdown', size: 'tiny'})
                +datepicker('to')
            +fieldset({title: 'filter date dropdown', size: 'small'})
              +date-filter
            +fieldset({title: 'subscription text field', size: 'small'})
              +text-input({type: 'email', mod: 'subscription', placeholder: 'Email'})
        .wrapper-column
          .checkbox-wrap
            +fieldset({title: 'checkbox buttons', size: 'smaller', padding: 'large'})
              +checkbox({text: 'Можно курить', id: 'smoke', name: 'smoke'})
              +checkbox({text: 'Можно с питомцами', id: 'pets', name: 'pets', checked: true})
              +checkbox({text: 'Можно пригласить гостей (до 10 человек)', id: 'allow-guests', name: 'allow-guests', checked: true})
            +fieldset({title: 'radio buttons', size: 'smaller', padding: 'large'})
              +radio-button({label1: 'Мужчина', id1: 'men', label2: 'Женщина', id2: 'woman', name: 'sex'})
            +fieldset({title: 'toggle', size: 'small', padding: 'large'})
              +checkbox({text: 'Получать спецпредложения', id: 'deals', name: 'deals', mod: 'toggle', checked: true})
              +checkbox({text: 'Получать спецпредложения', id: 'deals2', name: 'deals', mod: 'toggle'})
            +fieldset({title: 'like button', padding: 'large'})
              .separating-wrap_small
                +like-button({value: '2'})
                +like-button({id: 'like-inited', value: '11'})
            +fieldset({title: 'rate button', padding: 'large'})
              .separating-wrap
                +rate-button({id: 'rate-inited4'})
                +rate-button({id: 'rate-inited5'})
        .wrapper-column
          .range-slider-wrap
            +fieldset({title: 'range slider', size: 'small', padding: 'large', mod: 'double'})
              +range-slider
          +fieldset({title: 'buttons', padding: 'large'})
            .button-wrap
              +button({type: 'button', value: 'click me', style: 'filled'})
              +button({type: 'button', value: 'click me', style: 'filled'})
            .button-wrap
              +button({type: 'button', value: 'click me', style: 'border'})
              +button({type: 'button', value: 'click me', style: 'border'})
            .button-wrap
              +button({type: 'button', value: 'click me'})
              +button({type: 'button', value: 'click me'})
            .button-wrap
              +button({type: 'submit', value: 'перейти к оплате', style: 'submit'})
          +fieldset({title: 'pagination', padding: 'large'})
            +pagination({text: '1-12 из 100+ вариантов аренды'})
      .wrapper-row
        .wrapper-column
          +fieldset({title: 'dropdown', size: 'small'})
            +dropdown({options: ['спальни', 'кровати', 'ванные комнаты'], placeholder: 'Сколько гостей', id: "dd2"})
          +fieldset({title: 'dropdown', size: 'small'})
            +dropdown({options: ['спальни', 'кровати', 'ванные комнаты'], placeholder: 'Сколько гостей', id: "dd3"})
        .wrapper-column
          +fieldset({title: 'dropdown'})
            +dropdown({options: ['взрослые', 'дети', 'младенцы'], placeholder: 'Сколько гостей', id: "dd4"})
        .wrapper-column
          +fieldset({title: 'dropdown'})
            +dropdown({options: ['взрослые', 'дети', 'младенцы'], placeholder: 'Сколько гостей', id: "dd5"})
      .wrapper-row
        .wrapper-column
          +expandable({header: 'expandable checkbox list', id: 'exp1'})
            +checkbox({id: 'lunch', name: 'lunch', text: 'Завтрак'})
            +checkbox({id: 'table', name: 'table', text: 'Письменный стол'})
            +checkbox({id: 'chair', name: 'chair', text: 'Стул для кормления'})
            +checkbox({id: 'crib', name: 'crib', text: 'Кроватка'})
            +checkbox({id: 'tv', name: 'tv', text: 'Телевизор'})
            +checkbox({id: 'shampoo', name: 'shampoo', text: 'Шампунь'})
          +expandable({header: 'expandable checkbox list', id: 'exp2'})
            +checkbox({id: 'lunch1', name: 'lunch1', text: 'Завтрак'})
            +checkbox({id: 'table1', name: 'table1', text: 'Письменный стол'})
            +checkbox({id: 'chair1', name: 'chair1', text: 'Стул для кормления'})
            +checkbox({id: 'crib1', name: 'crib1', text: 'Кроватка'})
            +checkbox({id: 'tv1', name: 'tv1', text: 'Телевизор'})
            +checkbox({id: 'shampoo1', name: 'shampoo1', text: 'Шампунь'})
        .wrapper-column
          +fieldset({title: 'rich checkbox buttons', padding: 'large'})
            +checkbox({id: 'hall', name: 'hall', mod: 'rich', text: 'Широкий коридор', addition: 'Ширина коридоров в номере не менее 91 см.'})
            +checkbox({id: 'helper', name: 'helper', mod: 'rich', text: 'Помошник для инвалидов', addition: 'На 1 этаже вас встретит специалист  и проводит до номера.'})
        .wrapper-column
          +fieldset({title: 'bullet list', padding: 'large'})
            +bullet-list({list: ['Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00']})
      .wrapper-row
        .wrapper-column
          +feature({icon: 'insert_emoticon', text: 'Шумопоглощающие стены', bold: 'Комфорт'})
          +feature({icon: 'location_city', text: 'Окно в каждой из спален', bold: 'Удобство'})
        .wrapper-column
          +comment({name: 'Мурад Сарафанов', date: '5 дней назад', text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'})
            +like-button({value: '11'})