.wrapper {
  margin: 10vh 10vw;
}

.wrapper-row {
  display: flex;
  &:first-child {
    margin-bottom: 100px;
  }
  &:nth-child(2) {
    margin-bottom: 158px;
  }
}

.wrapper-column {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  &:nth-child(2) {
    margin-left: 126px;
  }
  &:nth-child(3) {
    margin-left: 132px;
  }
}

.text-fields-wrap>fieldset:not(:first-child),
.wrapper-row:nth-child(2)>.wrapper-column:first-child>.fieldset:nth-child(2) {
  margin-top: 20px;
}

.dropdown-wrap>fieldset,
.checkbox-wrap>fieldset:not(:first-child) {
  margin-top: 40px;
}

.datepicker-wrap {
  display: flex;
  margin-top: 40px;
  &>fieldset:first-child {
    margin-right: 20px;
  }
}

.separating-wrap {
  display: flex;
  &>*:nth-child(2) {
    margin-left: 20px;
  }
}

.separating-wrap_small {
  display: flex;
  &>*:nth-child(2) {
  margin-left: 10px;
  }
}

.button-wrap {
  margin-bottom: 30px;
  &>button:nth-child(2) {
    margin-left: 20px;
  }
}

.range-slider-wrap {
  margin-bottom: 40px;
}

.wrapper-column>.expandable:first-child {
  margin-bottom: 20px;
}