@use '../assets/scss/vars';
@use '../layout/layout.scss';
@use '../blocks/block-header/block-header.scss';
@use '../blocks/feature/feature.scss';
@use '../blocks/comment/comment.scss';
@use '../blocks/bullet-list/bullet-list.scss';
@use '../blocks/booking/booking.scss';
@use '../blocks/pie/pie.scss';
@use '../blocks/collage/collage.scss';
@use '../blocks/text-block/text-block.scss';

.room-details {
  display: flex;
  padding: 70px 9.7222% 62px;
}

@media (min-width: 1441px) {
  .room-details {
    width: 70%;
    margin: 0 auto;
  }
}

@media (max-width: 1024px) {
  .room-details {
    flex-direction: column;
  }
}

.room-details__info-wrap {
  padding-right: 70px;
}

@media (max-width: 1024px) {
  .room-details__info-wrap {
    margin-bottom: 40px;
  }
}

.room-details__info-wrap>.article-heading {
  margin-bottom: 20px;
}

.room-details__features-and-poll-wrap {
  display: flex;
  margin-bottom: 13px;
}

@media (max-width: 1340px) {
  .room-details__features-and-poll-wrap {
    margin-bottom: 40px;
  }
}

@media (min-width: 1025px) and (max-width: 1340px) {
  .room-details__features-and-poll-wrap {
    flex-direction: column;
  }
}

@media (min-width: 861px) and (max-width: 1024px) {
  .room-details__features-and-poll-wrap {
    flex-direction: row;
  }
}

@media (max-width: 860px) {
  .room-details__features-and-poll-wrap {
    flex-direction: column;
  }
}

.room-details__features-and-poll-wrap>.room-details__features-wrap {
  margin-right: 106px;
}

@media (max-width: 1340px) {
  .room-details__features-wrap {
    margin-bottom: 20px;
  }
}

.room-details__comments-wrap {
  margin-bottom: 30px;
}

.room-details__rules-and-cancel-wrap {
  display: flex;
}

.room-details__rules-wrap {
  flex-basis: 263px;
  margin-right: 98px;
}

.room-details__cancel-wrap {
  flex-basis: 341px;
}

@media (min-width: 1441px) {
  .room-details__cancel-wrap {
    flex-grow: 1;
  }
}