@use '../assets/scss/vars';
@use '../layout/layout.scss';
@use '../blocks/block-header/block-header.scss';
@use '../blocks/feature/feature.scss';
@use '../blocks/comment/comment.scss';
@use '../blocks/bullet-list/bullet-list.scss';
@use '../blocks/booking/booking.scss';
@use '../blocks/pie/pie.scss';
@use '../blocks/collage/collage.scss';
@use '../blocks/text-block/text-block.scss';

.room-details {
  display: flex;
  padding: 70px 9.7222% 62px;
}

.room-details__info-wrap {
  padding-right: 70px;
}

.room-details__info-wrap>.article-heading {
  margin-bottom: 20px;
}

.room-details__features-and-poll-wrap {
  display: flex;
  margin-bottom: 13px;
}

.room-details__features-and-poll-wrap>.room-details__features-wrap {
  margin-right: 106px;
}

.article-heading {
  font: vars.$h2;
  color: vars.$primary-color100;
}

.room-details__poll-wrap>.article-heading {
  margin-bottom: 18px;
}

.room-details__comments-wrap {
  margin-bottom: 30px;
}

.room-details__rules-and-cancel-wrap {
  display: flex;
}

.room-details__rules-wrap {
  flex-basis: 263px;
  margin-right: 98px;
}

.room-details__cancel-wrap {
  flex-basis: 341px;
}

@media (min-width: 1441px) {
  .room-details {
    width: 70%;
    margin: 0 auto;
  }
}