extends ../layout/layout
include ../blocks/feature/feature
include ../blocks/comment/comment
include ../blocks/bullet-list/bullet-list
include ../blocks/booking/booking
include ../blocks/pie/pie

block content
  +pie