extends ../layout/layout
include ../blocks/fieldset/fieldset
include ../blocks/date-filter/date-filter
include ../blocks/dropdown/dropdown
include ../blocks/range-slider/range-slider
include ../blocks/checkbox/checkbox
include ../blocks/expandable/expandable
include ../blocks/pagination/pagination
include ../blocks/room-card/room-card

block content
  .search-room__wrap
    .search-room__responsive-wrap
      form(class="search-room__form", action="")
        +fieldset({title: 'даты пребывания в отеле'})
          +date-filter
        +fieldset({title: 'гости'})
          +dropdown({options: ['взрослые', 'дети', 'младенцы'], placeholder: 'Сколько гостей', id: "dd1"})
        +fieldset({title: 'диапазон цены', size: 'small', mod: 'double'})
          +range-slider
        +fieldset({title: 'правила дома'})
          +checkbox({text: 'Можно курить', id: 'smoke', name: 'smoke'})
          +checkbox({text: 'Можно с питомцами', id: 'pets', name: 'pets', checked: true})
          +checkbox({text: 'Можно пригласить гостей (до 10 человек)', id: 'allow-guests', name: 'allow-guests', checked: true})
        +fieldset({title: 'доступность'})
          +checkbox({id: 'hall', name: 'hall', mod: 'rich', text: 'Широкий коридор', addition: 'Ширина коридоров в номере не менее 91 см.'})
          +checkbox({id: 'helper', name: 'helper', mod: 'rich', text: 'Помошник для инвалидов', addition: 'На 1 этаже вас встретит специалист  и проводит до номера.'})
        +fieldset({title: 'удобства номера'})
          +dropdown({options: ['взрослые', 'дети', 'младенцы'], placeholder: 'Сколько гостей', id: "dd2"})
        +expandable({header: 'дополнительные удобства', id: 'exp1'})
          +checkbox({id: 'lunch', name: 'lunch', text: 'Завтрак'})
          +checkbox({id: 'table', name: 'table', text: 'Письменный стол'})
          +checkbox({id: 'chair', name: 'chair', text: 'Стул для кормления'})
          +checkbox({id: 'crib', name: 'crib', text: 'Кроватка'})
          +checkbox({id: 'tv', name: 'tv', text: 'Телевизор'})
          +checkbox({id: 'shampoo', name: 'shampoo', text: 'Шампунь'})
      div(class="search-room__form-toggler")
        div(class="search-room__toggler-icon material-icons") expand_more
    .search-room__search-results
      h1(class='search-room__header') Номера, которые мы для вас подобрали
      .search-room__cards
        +room-card({reviewsNumber: '145', roomNumber: '888', roomPrice: '9 990', luxe: true})
        +room-card({reviewsNumber: '65', roomNumber: '840', roomPrice: '9 900'})
        +room-card({reviewsNumber: '35', roomNumber: '980', roomPrice: '8 500', luxe: true})
        +room-card({reviewsNumber: '19', roomNumber: '856', roomPrice: '7 300'})
        +room-card({reviewsNumber: '44', roomNumber: '740', roomPrice: '6 000'})
        +room-card({reviewsNumber: '56', roomNumber: '982', roomPrice: '5 800'})
        +room-card({reviewsNumber: '45', roomNumber: '678', roomPrice: '5 500'})
        +room-card({reviewsNumber: '39', roomNumber: '450', roomPrice: '5 300'})
        +room-card({reviewsNumber: '77', roomNumber: '350', roomPrice: '5 000'})
        +room-card({reviewsNumber: '25', roomNumber: '666', roomPrice: '5 000'})
        +room-card({reviewsNumber: '15', roomNumber: '444', roomPrice: '5 000'})
        +room-card({reviewsNumber: '55', roomNumber: '352', roomPrice: '5 000'})
      +pagination({text: '1 - 12 из 100+ вариантов аренды'})