@use '../assets/scss/vars';
@use '../layout/layout.scss';
@use '../blocks/fieldset/fieldset.scss';
@use '../blocks/date-filter/date-filter.scss';
@use '../blocks/dropdown/dropdown.scss';
@use '../blocks/range-slider/range-slider.scss';
@use '../blocks/checkbox/checkbox.scss';
@use '../blocks/expandable/expandable.scss';
@use '../blocks/pagination/pagination.scss';
@use '../blocks/room-card/room-card.scss';

.search-room__wrap {
  display: flex;
  padding-left: 9.7222%;
  padding-right: 9.7222%;
  padding-top: 30px;
  padding-bottom: 76px;
}

.search-room__responsive-wrap {
  display: flex;
  height: fit-content;
  margin-right: 5.173%;
  flex-basis: 266px;
  flex-shrink: 0;
  & .fieldset {
    &:nth-child(2) {
      margin-top: 20px;
    }
    &:nth-child(3) {
      margin-top: 30px;
    }
    &:nth-child(4) {
      margin-top: 28px;
    }
    &:nth-child(5) {
      margin-top: 31px;
    }
    &:nth-child(6) {
      margin-top: 26px;
    }
    &:nth-child(7) {
      margin-top: 19px;
    }
  }
  & .expandable {
    margin-top: 24px;
  }
}

.search-room__form-toggler {
  display: none;
  text-align: center;
}

.search-room__toggler-icon.material-icons {
  font-size: 40px;
}

.search-room__cards {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 12px;

}

.search-room__header {
  margin-bottom: 22px;
}

.search-room__search-results>.pagination {
  margin-top: 41px;
}

@media (max-width: 1439px) {
  .search-room__wrap {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media (max-width: 1290px) {
  .search-room__responsive-wrap {
    flex-basis: 222px;
  }
  .search-room__search-results {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .search-room__cards {
    display: flex;
    justify-content: space-around;
  }
}

@media (max-width: 908px) {
  .search-room__wrap {
    flex-direction: column;
  }
  .search-room__responsive-wrap {
    margin-right: 0;
    padding-bottom: 30px;
    flex-direction: column;
    flex-basis: 0;
    &>.search-room__form>.fieldset,
    &>.search-room__form>.expandable {
      margin: 0;
    }
    &>.search-room__form>&>.fieldset:nth-child(3) {
      order: 1;
      grid-column: span 2;
    }
  }
  .search-room__form {
    display: none;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 12px;
  }
  .search-room__form_state_visible {
    display: grid;
  }
  .search-room__form-toggler {
    display: block;
  }
        
}

@media (max-width: 478px) {
  .search-room__wrap
  >.search-room__responsive-wrap
  >.search-room__form.search-room__form_state_visible {
    display: flex;
    flex-direction: column;
  }
}