mixin expandable(attr)
  .expandable
    .expandable__fieldset-wrap
      fieldset(class="expandable__fieldset")
        legend(class="expandable__legend") #{attr.header}
      span(class="expandable__expand-icon material-icons") expand_more
    .expandable__content
      block