@use '../../assets/scss/vars';

.expandable__fieldset-wrap {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.expandable__fieldset {
  border: none;
  align-self: center;
}

.expandable__legend {
  text-transform: uppercase;
  font: vars.$h3;
  color: vars.$primary-color100;
}

.expandable__expand-icon {
  color: vars.$primary-color50;
  padding: 0 10px;
}

.expandable__content {
  display: none;
}