.pie {
  display: flex;
}

.pie__canvas-wrap {
  height: 128px;
  width: 125px;
  transform: translateX(-3px);
}

.pie__legend-wrap {
  align-self: flex-end;
  margin-left: 25px;
}

.pie__legend {
  margin-bottom: 2px;
}

.pie__legend-item {
  list-style: none;
  line-height: 24px;
  &:nth-child(1)::before {
    background: linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%);
  }
  &:nth-child(2)::before {
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  }
  &:nth-child(3)::before {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  }
  &:nth-child(4)::before {
    background: linear-gradient(180deg, #919191 0%, #3D4975 100%);
  }
}

.pie__legend-item::before {
  display: inline-block;
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}