mixin pie
  .pie
    .pie__canvas-wrap
      canvas(id="myChart")
    .pie__legend-wrap
      ul(class="pie__legend")
        li.pie__legend-item Великолепно
        li.pie__legend-item Хорошо
        li.pie__legend-item Удовлетворительно
        li.pie__legend-item Разочарован