@use '../../assets/scss/vars';

.checkbox {
  display: flex;
  align-items: center;
  padding-top: 11px;
}

.checkbox__label-container {
  display: flex;
  flex-direction: column;
}

.checkbox__label, .checkbox__label_rich {
  color: vars.$primary-color50;
  display: inline-flex;
  align-items: flex-start;
  user-select: none;
  &::before {
    content: '';
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid vars.$primary-color25;
    border-radius: 4px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }
}

.checkbox__label_rich {
  font: vars.$rich;
  color: vars.$primary-color75;
}

.label__addition {
  margin-left: 30px;
  font: vars.$add;
  color: vars.$primary-color50;
}

.checkbox__label_type_toggler {
  color: vars.$primary-color75;
  display: inline-flex;
  align-items: center;
  user-select: none;
  position: relative;
  padding-bottom: 4px;
  &::before {
    content: '';
    cursor: pointer;
    display: inline-block;
    width: 38px;
    height: 18px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid vars.$primary-color25;
    border-radius: 10px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }
  &::after {
    content: '';
    cursor: pointer;
    position: absolute;
    left: 4px;
    width: 12px;
    height: 12px;
    background: vars.$primary-color25;
    border-radius: 50%;
    transition: background 0.3s, left 0.3s;
  }
}

.checkbox__box {
  position: absolute;
  z-index: -1;
  opacity: 0;
  &:checked+.checkbox__label::before,
  &:checked+.checkbox__label-container>.checkbox__label_rich::before {
    background-image: url('../../assets/svg/check.svg');
    background-size: 10px 12px;
    border-color: vars.$accent-color;
  }
  &:not(:disabled)+.checkbox__label:hover::before,
  &:not(:disabled)+.checkbox__label:active::before,
  &:not(:disabled)+.checkbox__label:focus::before,
  &:not(:disabled)+.checkbox__label-container>.checkbox__label_rich:hover::before,
  &:not(:disabled)+.checkbox__label-container>.checkbox__label_rich:active::before,
  &:not(:disabled)+.checkbox__label-container>.checkbox__label_rich:focus::before {
    border-color: vars.$accent-color;
  }

}

.checkbox__box_shape_oval {
  position: absolute;
  z-index: -1;
  opacity: 0;
  &:checked+.checkbox__label_type_toggler::before {
    border-color: vars.$accent-color;
  }
  &:checked+.checkbox__label_type_toggler::after {
    left: 24px;
    background: vars.$accent-gradient;
  }
  &:not(:disabled)+.checkbox__label_type_toggler:hover::before,
  &:not(:disabled)+.checkbox__label_type_toggler:active::before,
  &:not(:disabled)+.checkbox__label_type_toggler:focus::before {
    border-color: vars.$accent-color;
  }

}