@use '../../assets/scss/vars';

.block-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.block-header__main-header {
  font: vars.$h2;
  color: vars.$primary-color100;
}

.main-header_position_shifted {
  padding-left: 20px;
}

.block-header__secondary-header {
  align-self: flex-end;
}