//Colors
$primary-color100: rgba(#1F2041, 1.0);
$primary-color75: rgba(#1F2041, 0.75);
$primary-color50: rgba(#1F2041, 0.5);
$primary-color25: rgba(#1F2041, 0.25);
$primary-color5: rgba(#1F2041, 0.05);
$accent-color: #BC9CFF;
$accent-gradient: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$selection-color: #A3A7A4;
$selection-gradient: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);

//Fonts
$h1: 700 24px 'Montserrat';
$h2: 700 19px 'Montserrat';
$h3: 700 12px 'Montserrat';
$body: 400 14px 'Montserrat';
$code: 400 19px 'Montserrat';