//Colors
$primary-color100: rgba(#1F2041, 1.0);
$primary-color75: rgba(#1F2041, 0.75);
$primary-color50: rgba(#1F2041, 0.5);
$primary-color25: rgba(#1F2041, 0.25);
$primary-color5: rgba(#1F2041, 0.05);
$accent-color: #BC9CFF;
$selection-color: #6FCF97;

//Fonts
$h1: 24px "MontserratBold";
$h2: 19px "MontserratBold";
$h3: 12px "MontserratBold";
$body: 14px "MontserratRegular";