mixin rate-button(attr)
  .rate-button(id=attr.id)
   input#rate1(type="radio", name="rate", class='rate-button__button')
   label(for="rate1", class='material-icons rate-button__label')
   input#rate2(type="radio", name="rate", class='rate-button__button')
   label(for="rate2", class='material-icons rate-button__label')
   input#rate3(type="radio", name="rate", class='rate-button__button')
   label(for="rate3", class='material-icons rate-button__label')
   input#rate4(type="radio", name="rate", class='rate-button__button')
   label(for="rate4", class='material-icons rate-button__label')
   input#rate5(type="radio", name="rate", class='rate-button__button')
   label(for="rate5", class='material-icons rate-button__label') 