@use '../util/vars' as v;

.rate-button__button {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.rate-button__label {
  background: v.$accent-gradient;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  &::before {
    content: 'star_border';
  }
  &:hover::before {
    content: 'star';
  }
}

.rate-button__label_hovered {
  @extend .rate-button__label;
  &::before {
    content: 'star';
  }
}

.rate-button__label_rated {
  @extend .rate-button__label_hovered;
}
