@use '../../assets/scss/vars';

.date-filter-wrap {
  width: inherit;
  display: flex;
  position: relative;
}

.date-filter__expand-icon {
  position: absolute;
  cursor: pointer;
  top: 11px;
  right: 11px;
  color: vars.$primary-color50;
  height: 12px;
}