mixin date-filter
  .date-filter-wrap
    input(type='text',
      data-range="true",
      data-multiple-dates-separator=" - ",
      class='my-datepicker date-filter',
      readonly)
    span(class='material-icons date-filter__expand-icon') expand_more