@use '../../assets/scss/vars';

.radio-container {
  display: flex;
}

.radio-button {
  display: flex;
  &:not(:first-child) {
    margin-left: 20px;
  }
}

.radio-button__label {
  color: vars.$primary-color50;
  display: inline-flex;
  align-items: center;
  user-select: none;
  position: relative;
  &::before {
    content: '';
    cursor: pointer;
    display: inline-block;
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid vars.$primary-color25;
    border-radius: 50%;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }
}

.radio-button__button {
  position: absolute;
  z-index: -1;
  opacity: 0;
  &:not(:disabled)+.radio-button__label:hover::before {
    border: 1px solid vars.$accent-color;
  }
  &:checked+.radio-button__label::before {
    border-color: vars.$accent-color;
  }
  &:checked+.radio-button__label::after {
    content: '';
    cursor: pointer;
    position: absolute;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    left: 4px;
    background: vars.$accent-gradient;
  }
}