include ../fieldset/fieldset
include ../datepicker/datepicker
include ../dropdown/dropdown
include ../button/button


mixin lookup
  form(action='#' class='lookup__wrap')
    p(class='lookup__header') Найдём номера под ваши пожелания
    +datepicker({from: "прибытие", to: "выезд"})
    +fieldset({title: 'гости'})
      +dropdown({options: ['взрослые', 'дети', 'младенцы'], placeholder: 'Сколько гостей', id: "lookupdd"})
    +button({type: 'submit', value: 'подобрать номер', style: 'submit'})
  