@use '../../assets/scss/vars';
@use '../fieldset/fieldset.scss';
@use '../datepicker/datepicker.scss';
@use '../dropdown/dropdown.scss';
@use '../button/button.scss';

.lookup__wrap {
  max-width: 380px;
  padding: 39px 29px 29px 29px;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
}

.lookup__header {
  font: vars.$h1;
  color: vars.$primary-color100;
  margin-bottom: 22px;
}

.lookup__header+.date-picker__wrap {
  margin-bottom: 22px;
}

.date-picker__wrap+.fieldset {
  margin-bottom: 30px;
}