@use '../fieldset/fieldset.scss';
@use '../datepicker/datepicker.scss';
@use '../dropdown/dropdown.scss';
@use '../button/button.scss';

.lookup__wrap {
  max-width: 380px;
  padding: 40px 30px 30px 30px;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
}

.lookup__header,
.datepicker-wrap {
  margin-bottom: 20px;
}

.datepicker-wrap {
  display: flex;
  &>.fieldset {
    margin-right: 20px;
  }
}

.lookup__wrap .datepicker-wrap+.fieldset {
  margin-bottom: 30px;
}