@use '../../../node_modules/air-datepicker/dist/css/datepicker.css';
@use '../../assets/scss/vars';
@use '../fieldset/fieldset.scss';

.date-picker__wrap {
  display: flex;
}

.date-picker {
  position: relative;
  display: flex;
  margin-right: 20px;
}

.date-picker__expand-icon {
  position: absolute;
  cursor: pointer;
  top: 11px;
  right: 11px;
  color: vars.$primary-color50;
  height: 12px;
}

.datepicker__input {
  cursor: pointer;
  box-sizing: border-box;
  width: 50%;
  min-width: 150px;
  padding-top: 11px;
  padding-bottom: 13px;
  padding-left: 13px;
  border: 1px solid vars.$primary-color25;
  border-radius: 4px;
  outline: none;
  font: vars.$body;
  color: vars.$primary-color25;
  &:hover,&:focus,&:active {
    border: 1px solid vars.$primary-color50;
    color: vars.$primary-color75;
  }
}

//Air-Datepicker overrides

.datepicker {
  width: 320px;
}

.datepicker--day-name {
  text-transform: none;
  font: vars.$h3;
}

.datepicker--content {
  padding: 20px;
}

.datepicker--nav {
  padding: 15px 20px 10px 20px;
}

.datepicker__button_next,
.datepicker__button_prev {
  cursor: pointer;
  color: vars.$accent-color;
  appearance: none;
  background: none;
  outline: none;
  border: none;
}

.datepicker--nav-title {
  font: vars.$h2;
  color: vars.$primary-color100;
  &>i {
    color: vars.$primary-color100;
  }
}

.datepicker--days-names {
  font: vars.$h3;
  margin-bottom: 12px;
  &>.datepicker--day-name {
    color: vars.$accent-color;
  }
}

.datepicker--cell {
  font: vars.$add;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.datepicker--cell-day.-other-month-,
.datepicker--cell-year.-other-decade- {
  color: vars.$primary-color25;
}

.datepicker--cell-day {
  color: vars.$primary-color50;
}

.datepicker--cell.-current- {
  background: vars.$selection-gradient;
  color: white;
  font: vars.$h3;
}

.datepicker--cell.-focus-,
.datepicker--cell.-selected-,
.datepicker--cell.-selected-.-focus-,
.datepicker--cell.-range-from-,
.datepicker--cell.-range-to- {
  background: vars.$accent-gradient;
  color: white;
  border-radius: 50%;
}

.datepicker--cell.-in-range- {
  background: vars.$accent-gradient;
  opacity: 0.25;
}

.datepicker--cell.-in-range-.-focus- {
  border-radius: 0;
}

.datepicker__custom-buttons {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.custom-button__button_clear,
.custom-button__button_accept {
  cursor: pointer;
  font: vars.$h3;
  color: vars.$accent-color;
  appearance: none;
  border: none;
  background: transparent;
  transition: color 0.4s;
  &:hover,&:focus,&:active {
    color: vars.$primary-color50;
  }
}