mixin datepicker
    input(type='text' data-range="true" data-multiple-dates-separator=" - " placeholder='ДД.ММ.ГГГГ' class='my-datepicker datepicker-from')
    input(type='text' data-range="true" data-multiple-dates-separator=" - " placeholder='ДД.ММ.ГГГГ' class='my-datepicker datepicker-to')