@use '../../assets/scss/vars';
@use '../text-input/text-input.scss';

.footer {
  background-color: white;
}

.footer__panel {
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 9.7222%;
  padding-right: 9.7222%;
}

.footer__logo-and-info {
  margin-right: 40px;
  flex-basis: 16.25rem;
  flex-shrink: 0;
}

.footer__logo {
  margin-bottom: 13px;
}

.footer__info,
.footer__subscription {
  line-height: 24px;
}

.footer__navigation {
  display: flex;
  padding-top: 4px;
}

.footer__navigation-section {
  &:first-child {
    margin-right: 57px;
  }
  &:nth-child(2) {
    margin-right: 93px;
  }
  &:nth-child(3) {
    margin-right: 52px;
  }
  &:nth-child(4) {
    flex-basis: 16.25rem;
    &>.footer__section-header {
      margin-bottom: 18px;
    }
  }
}

.footer__section-header {
  text-transform: uppercase;
  margin-bottom: 21px;
}

.footer__section-list {
  list-style: none;
}

.footer__navigation-item:not(:last-child) {
  margin-bottom: 20px;
}

.footer__subscription {
  margin-bottom: 23px;
}

.footer__copyright-bar {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid vars.$primary-color25;
  padding-left: 9.7222%;
  padding-right: 9.7222%;
  padding-bottom: 18px;
  padding-top: 26px;
}

.footer__logo_for-mobile {
  display: none;
}

.footer__social {
  transform: translateY(-2px);
}

.footer__social-icon:not(:last-child) {
  margin-right: 22px;
}

.footer_mobile {
  &>.footer__panel {
    display: none;
  }
  &>.footer__copyright-bar {
    border: none;
    flex-flow: column;
    align-items: center;
    padding: 120px 0;
  }
  & .footer__logo_for-mobile {
    display: initial;
    margin-bottom: 16px;
  }
  & .footer__copyright {
    margin-bottom: 20px;
  }
}

@media (max-width: 1400px) {
  .footer__panel {
    flex-flow: column;
    align-items: stretch;
    padding: 3% 5%;
  }
  .footer__logo-and-info {
    flex-basis: auto;
    margin-right: 0;
  }
  .footer__info {
    display: none;
  }
  .footer__navigation {
    justify-content: space-between;
  }
  .footer__navigation-section:not(#specifity) {
    margin-right: 0;
  }
  .footer__copyright-bar {
    padding: 15px 5%;
  }
}

@media (max-width: 768px) {
  .footer__panel {
    display: none;
  }
  .footer__copyright-bar {
    border: none;
    flex-flow: column;
    align-items: center;
    padding: 120px 0;
  }
  .footer__logo_for-mobile {
    display: initial;
    margin-bottom: 16px;
  }
  .footer__copyright {
    margin-bottom: 20px;
  }
}