@use '../util/vars' as v;

.dropdown {
    height: 100%;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid v.$primary-color25;
    border-radius: 4px;
    &:hover,&:active,&:focus {
        border-color: v.$primary-color50;
        color: v.$primary-color75;
    }
}

.dropdown__expand-icon {
    position: absolute;
    top: 9px;
    right: 9px;
    color: v.$primary-color50;
}

.dropdown__menu {
    width: 100%;
    outline: none;
    box-sizing: border-box;
    border-width: 0px;
    border-radius: 4px;
    padding: 12px 15px;
}

.dropdown__menu-option {
    display: none;
    &_open {
        padding: 12px 15px;
        display: flex;
        text-transform: uppercase;
        justify-content: space-between;
        align-items: center;
        &:nth-child(2) {
            border-top: 1px solid;
            border-color: inherit;
        }
    }
}

.menu-option__stepper {
    display: flex;
    align-items: center;
}

.menu-option__stepper-button {
    width: 30px;
    height: 30px;
    border-radius: 22px;
    border: 1px solid v.$primary-color50;
    color: v.$primary-color50;
    background-color: white;
}

.menu-option__stepper-result {
    margin-left: 12px;
    margin-right: 12px;
}