@use '../util/vars' as v;

.dropdown {
  height: 100%;
  position: relative;
  width: 100%;
  &:hover,&:active,&:focus {
    border-color: v.$primary-color50;
    color: v.$primary-color75;
  }
}

.dropdown>.dropdown__value {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.dropdown_open>.dropdown__value {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.dropdown__value {
  width: 100%;
  outline: none;
  box-sizing: border-box;
  border: 1px solid v.$primary-color25;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 12px 15px;
}

.dropdown__expand-icon {
  position: absolute;
  top: 9px;
  right: 9px;
  color: v.$primary-color50;
}

.dropdown__list {
  display: none;
}

.dropdown__list_open {
  display: block;
  position: absolute;
  z-index: 1;
  background-color: white;
  width: 100%;
  border-left: 1px solid v.$primary-color25;
  border-bottom: 1px solid v.$primary-color25;
  border-right: 1px solid v.$primary-color25;;
  box-sizing: border-box;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.dropdown__item {
  padding: 0 7px 7px 14px;
  display: flex;
  text-transform: uppercase;
  justify-content: space-between;
  align-items: center;
  &:nth-of-type(1) {
    padding-top: 6px;
  }
}

.dropdown-item__stepper {
  display: flex;
  align-items: center;
}

.stepper__button {
  width: 30px;
  height: 30px;
  border-radius: 22px;
  border: 1px solid v.$primary-color50;
  color: v.$primary-color50;
  background-color: white;
}

.stepper__result {
  margin-left: 12px;
  margin-right: 12px;
}