@use '../text-input/text-input.scss';
@use '../radio-button/radio-button.scss';
@use '../fieldset/fieldset.scss';
@use '../checkbox/checkbox.scss';
@use '../button/button.scss';

.registration-wrap {
  max-width: 380px;
  padding: 39px 29px 29px 29px;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
}

.checkbox+.button_style_form-submit {
  margin-bottom: 30px;
}

.registration__header {
  margin-bottom: 21px;
}


.registration-wrap>.text-input:nth-of-type(1),
.registration-wrap>.text-input:nth-of-type(2) {
  margin-bottom: 10px;
}

.registration-wrap>.fieldset:nth-of-type(1),
.registration-wrap>.checkbox {
  margin-bottom: 20px;
}

.fieldset:nth-of-type(2)>.text-input:nth-of-type(1) {
  margin-bottom: 10px;
}

.radio-container {
  margin-bottom: 20px;
}

.registration__signin {
  display: flex;
  align-items: center;
  justify-content: space-between;
}