@use '../../assets/scss/vars';

.feature-wrap {
  display: flex;
  padding-top: 1px;
  padding-bottom: 20px;
  width: min-content;
  white-space: nowrap;
  &:not(:first-of-type) {
    padding-top: 20px;
  }
  &:not(:last-of-type) {
    border-bottom: 1px solid rgba(31, 32, 65, 0.1);
  }
}

.feature__text-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.feature__icon.material-icons {
  font-size: 48px;
  background: -webkit-linear-gradient(#BC9CFF, #8BA4F9);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 10px;
}

.feature__text_bold {
  font: vars.$rich;
}