mixin collage
  .collage
    img(src="./assets/img/image.jpg", alt="")
    .collage__smaller-pictures
      img(src="./assets/img/image2.jpg", alt="")
      img(src="./assets/img/image3.jpg", alt="")
