mixin collage
  .collage
    img(class="collage__main-picture" src="./assets/img/image.jpg", alt="")
    .collage__small-pictures
      img(class="collage__small-picture" src="./assets/img/image2.jpg", alt="")
      img(class="collage__small-picture" src="./assets/img/image3.jpg", alt="")
