@use '../../assets/scss/vars';


.range-slider {
  padding-top: 18px;
}

.range-slider__slider {
  margin-bottom: 12px;
  cursor: pointer;
}

.range-slider__text {
  font: vars.$add;
  color: vars.$primary-color50;
}

.ui-slider-horizontal:not(.specifity-override) {
  height: 4px;
}

.ui-slider .ui-slider-handle:not(.specifity-override) {
  cursor: pointer;
  background: vars.$selection-gradient;
  border: 2px solid white;
  border-radius: 50%;
  height: 12px;
  width: 12px;
  top: -0.45em;
  margin-left: -0.8em;
}

.ui-widget-header:not(.specifity-override) {
  background: vars.$selection-gradient;
}