include ../like-button/like-button

mixin comment(attr)
  .comment
    .comment__wrap-top
      .comment__picture-wrap
        img(class='comment__picture', src='./assets/img/murad.png', alt='murad')
      .comment__details
        p.comment__name #{attr.name}
        p.comment__date #{attr.date}
    .comment__wrap-bottom
      .comment__like
        +like-button({value: attr.likeValue})
      p.comment__text #{attr.text}