mixin comment(attr)
  .comment
    .comment__wrap-top
      .comment__picture
        img(src=require('./assets/img/murad.png'), alt='murad')
      .comment__details
        .details__name #{attr.name}
        .details__date #{attr.date}
    .comment__wrap-bottom
      .comment__like
        block
      .comment__text #{attr.text}