@use '../util/vars' as v;

.widget-wrap {
    padding: 10px;
    width: fit-content;
    &__text-block {
        display: flex;
        justify-content: space-between;
        padding: 5px 0;
    }
    &__optional-label {
        color: v.$primary-color50;
    }
}