mixin widget-wrap(label, optionalLabel)
        if label && optionalLabel
            .widget-wrap
                .widget-wrap__text-block
                    h3.widget-wrap__label #{label.toUpperCase()}
                    h3.widget-wrap__optional-label #{optionalLabel.toUpperCase()}
                block
        else if label
            .widget-wrap
                h3.widget-wrap__label #{label.toUpperCase()}
                block 
        else 
            .widget-wrap 
            block
//-
    'label' is a text string to be rendered as a widgets label.
    'optionalLabel' is an additional label standing opposite to the 'label'.