@use '../../assets/scss/vars';
@use '../button/button.scss';
@use '../fieldset/fieldset.scss';
@use '../datepicker/datepicker.scss';
@use '../dropdown/dropdown.scss';

.booking__wrap {
  max-width: 380px;
  padding: 40px 30px 30px 30px;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
}

.booking__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.booking__prefix {
  font: vars.$rich;
  color: vars.$primary-color100;
}

.booking__number {
  font: vars.$h1;
  color: vars.$primary-color100;
}

.booking__luxe {
  font: vars.$h3;
  color: vars.$accent-color;
  text-transform: uppercase;
}

.booking__price {
  display: flex;
  align-items: flex-end;
}

.booking__price-number {
  font: vars.$rich;
  color: vars.$primary-color50;
  margin-bottom: 1px;
}

.booking__price-currency {
  font: vars.$add;
  color: vars.$primary-color50;
  margin-bottom: 2px;
  margin-left: 4px;
}

.booking__price-breakdown {
  display: flex;
  flex-direction: column;
  margin-bottom: 17px;
}

.booking__breakdown-line {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
  &:nth-child(2) {
    margin-bottom: 16px;
  }
}

.booking__breakdown-line>.price-breakdown__item:first-child {
  max-width: 70%;
}

.price-breakdown__item_info {
  position: absolute;
  color: vars.$primary-color25;
  border: 1px solid vars.$primary-color25;
  border-radius: 50%;
  text-align: center;
  width: 1.1rem;
  height: 1.1rem;
  right: 25%;
}

.booking__wrap .dropdown {
  margin-bottom: 22px;
}

.total__wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.booking__total {
  font: vars.$h2;
  color: vars.$primary-color100;
}

.booking__total-line {
  border-bottom: 1px dotted vars.$primary-color25;
  width: -webkit-fill-available;
  transform: translateY(-5px);
}

.booking__total-price {
  white-space: nowrap;
  font: vars.$h2;
  color: vars.$primary-color100;
  margin-right: -9px;
}