include blocks/color-display/color-display
include blocks/font-display/font-display
include blocks/form/form
include blocks/fieldset/fieldset
include blocks/text-input/text-input
include blocks/dropdown/dropdown
include blocks/datepicker/datepicker
include blocks/date-filter/date-filter
include blocks/checkbox/checkbox
include blocks/radio-button/radio-button
include blocks/like-button/like-button
include blocks/rate-button/rate-button
include blocks/range-slider/range-slider
include blocks/button/button
include blocks/pagination/pagination
include blocks/expandable/expandable
include blocks/bullet-list/bullet-list
include blocks/feature/feature

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title UI-kit
  body
    .main-wrap
      .colors-and-types
        .display-container
          +color-display('_primary-color100', 'Dark Shade 100%', '#1F2041')
          +color-display('_primary-color75', 'Dark Shade 75%', '#1F2041')
          +color-display('_primary-color50', 'Dark Shade 50%', '#1F2041')
          +color-display('_primary-color25', 'Dark Shade 25%', '#1F2041')
          +color-display('_primary-color5', 'Dark Shade 5%', '#1F2041')
          +color-display('_accent-color', 'Purple', '#BC9CFF')
          +color-display('_selection-color', 'Green', '#6FCF97')
        .display-container
          +font-display('h1', 'H1', 'This one is the sub-section or widget title')
          +font-display('h2', 'H2', 'Next one is the item title inside widgets')
          +font-display('h3', 'H3', 'THIS IS A LABEL CTA TEXT')
          +font-display('p', 'Body', 'This is the body text which is used for most of the design, like paragraphs, lists, etc.')
      .form-elements
        .form-wrap
          .form-wrap-column
            .text-input-wrap
              +fieldset({title: 'text field'})
                +text-input({type: 'text', placeholder: 'Email'})
              +fieldset({title: 'text field'})
                +text-input({type: 'text', id: 'init-text_input'})
              +fieldset({title: 'dropdown'})
                +dropdown({options: ['взрослые', 'дети', 'младенцы'], placeholder: 'Сколько гостей', id: "dd1"})
              +fieldset({title: 'masked text field'})
                +text-input({type: 'text', placeholder: 'ДД.ММ.ГГГГ', mod: 'mask'})
            .dropdown-wrap
              +form
                +fieldset({title: 'date dropdown', size: 'tiny'})
                  +datepicker('from')
                +fieldset({title: 'date dropdown', size: 'tiny', margin: true})
                  +datepicker('to')
              +fieldset({title: 'filter date dropdown', size: 'small'})
                +date-filter
              +fieldset({title: 'subscription text field', size: 'small'})
                +text-input({type: 'email', mod: 'subscription', placeholder: 'Email'})
          .form-wrap-column
            +fieldset({title: 'checkbox buttons', size: 'smaller'})
              .checkbox-wrap
                +checkbox({text: 'Можно курить', id: 'smoke', name: 'smoke'})
                +checkbox({text: 'Можно с питомцами', id: 'pets', name: 'pets', checked: true})
                +checkbox({text: 'Можно пригласить гостей (до 10 человек)', id: 'allow-guests', name: 'allow-guests', checked: true})
            +fieldset({title: 'radio buttons', size: 'smaller'})
              .radio-wrap
                +radio-button({label: 'Мужчина', id: 'men', name: 'sex', checked: true})
                +radio-button({label: 'Женщина', id: 'woman', name: 'sex'})
            +fieldset({title: 'toggle', size: 'small'})
              .toggle-wrap
                +checkbox({text: 'Получать спецпредложения', id: 'deals', name: 'deals', mod: 'toggle', checked: true})
                +checkbox({text: 'Получать спецпредложения', id: 'deals2', name: 'deals', mod: 'toggle'})
            +fieldset({title: 'like button'})
              .like-wrap
                +like-button({value: '2'})
                +like-button({id: 'like-inited', value: '11'})
            +fieldset({title: 'rate button'})
              .rate-wrap
                +rate-button({id: 'rate-inited4'})
                +rate-button({id: 'rate-inited5'})
          .form-wrap-column
            +fieldset({title: 'range slider', size: 'small'})
              +range-slider
            +fieldset({title: 'buttons'})
              .button-wrap
                +button({type: 'button', value: 'click me', style: 'filled'})
                +button({type: 'button', value: 'click me', style: 'filled'})
              .button-wrap
                +button({type: 'button', value: 'click me', style: 'border'})
                +button({type: 'button', value: 'click me', style: 'border'})
              .button-wrap
                +button({type: 'button', value: 'click me'})
                +button({type: 'button', value: 'click me'})
              +button({type: 'submit', value: 'перейти к оплате', style: 'submit'})
            +fieldset({title: 'pagination'})
              +pagination({text: '1-12 из 100+ вариантов аренды'})
        .inited-dropdowns-wrap
          .form-wrap-column
            +fieldset({title: 'dropdown', size: 'small'})
              +dropdown({options: ['спальни', 'кровати', 'ванные комнаты'], placeholder: 'Сколько гостей', id: "dd2"})
            +fieldset({title: 'dropdown', size: 'small'})
              +dropdown({options: ['спальни', 'кровати', 'ванные комнаты'], placeholder: 'Сколько гостей', id: "dd3"})
          .form-wrap-column
            +fieldset({title: 'dropdown'})
              +dropdown({options: ['взрослые', 'дети', 'младенцы'], placeholder: 'Сколько гостей', id: "dd4"})
          .form-wrap-column
            +fieldset({title: 'dropdown'})
              +dropdown({options: ['взрослые', 'дети', 'младенцы'], placeholder: 'Сколько гостей', id: "dd5"})
        .form-wrap
          .form-wrap-column
            .temp-wrap
              +expandable({header: 'expandable checkbox list', id: 'exp1'})
                +checkbox({id: 'lunch', name: 'lunch', text: 'Завтрак'})
                +checkbox({id: 'table', name: 'table', text: 'Письменный стол'})
                +checkbox({id: 'chair', name: 'chair', text: 'Стул для кормления'})
                +checkbox({id: 'crib', name: 'crib', text: 'Кроватка'})
                +checkbox({id: 'tv', name: 'tv', text: 'Телевизор'})
                +checkbox({id: 'shampoo', name: 'shampoo', text: 'Шампунь'})
            .temp-wrap
              +expandable({header: 'expandable checkbox list', id: 'exp2'})
                +checkbox({id: 'lunch1', name: 'lunch1', text: 'Завтрак'})
                +checkbox({id: 'table1', name: 'table1', text: 'Письменный стол'})
                +checkbox({id: 'chair1', name: 'chair1', text: 'Стул для кормления'})
                +checkbox({id: 'crib1', name: 'crib1', text: 'Кроватка'})
                +checkbox({id: 'tv1', name: 'tv1', text: 'Телевизор'})
                +checkbox({id: 'shampoo1', name: 'shampoo1', text: 'Шампунь'})
          .form-wrap-column 
            +fieldset({title: 'rich checkbox buttons'})
              +checkbox({id: 'hall', name: 'hall', mod: 'rich', text: 'Широкий коридор', addition: 'Ширина коридоров в номере не менее 91 см.'})
              +checkbox({id: 'helper', name: 'helper', mod: 'rich', text: 'Помошник для инвалидов', addition: 'На 1 этаже вас встретит специалист  и проводит до номера.'})
          .form-wrap-column 
            +fieldset({title: 'bullet list'})
              +bullet-list({list: ['Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00']})
        .form-wrap
          .form-wrap-column
            +feature({icon: 'insert_emoticon', text: 'Шумопоглощающие стены', bold: 'Комфорт'})
            +feature({icon: 'location_city', text: 'Окно в каждой из спален', bold: 'Удобство'})