include blocks/color-display/color-display
include blocks/font-display/font-display
include blocks/form/form
include blocks/fieldset/fieldset
include blocks/text-input/text-input
include blocks/masked-input/masked-input
include blocks/dropdown/dropdown
include blocks/datepicker/datepicker
include blocks/date-filter/date-filter

doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title UI-kit
    body
        .main-wrap
            .types-display
                .display-container
                    +color-display('_primary-color100', 'Dark Shade 100%', '#1F2041')
                    +color-display('_primary-color75', 'Dark Shade 75%', '#1F2041')
                    +color-display('_primary-color50', 'Dark Shade 50%', '#1F2041')
                    +color-display('_primary-color25', 'Dark Shade 25%', '#1F2041')
                    +color-display('_primary-color5', 'Dark Shade 5%', '#1F2041')
                    +color-display('_accent-color', 'Purple', '#BC9CFF')
                    +color-display('_selection-color', 'Green', '#6FCF97')
                .display-container
                    +font-display('h1', 'H1', 'This one is the sub-section or widget title')
                    +font-display('h2', 'H2', 'Next one is the item title inside widgets')
                    +font-display('h3', 'H3', 'This is a label or CTA text')
                    +font-display('p', 'Body', 'This is the body text which is used for most of the design, like paragraphs, lists, etc.')
            +fieldset({title: 'text field', size: '_size_normal'})
                +text-input({type: 'text', placeholder: 'Email'})
            +fieldset({title: 'text field', size: '_size_normal'})
                +text-input({type: 'text'})
            +fieldset({title: 'dropdown', size: '_size_normal'})
                +dropdown(['спальни', 'кровати', 'ванные комнаты'], 'Сколько гостей')
            +fieldset({title: 'masked text field', size: '_size_normal'})
                +masked-input({type: 'text', placeholder: 'ДД.ММ.ГГГГ'})
            +form
                +fieldset({title: 'date dropdown', size: '_size_tiny'})
                    +datepicker('from')
                +fieldset({title: 'date dropdown', size: '_size_tiny', margin: true})
                    +datepicker('to')
            +fieldset({title: 'filter date dropdown', size: '_size_small'})
                +date-filter