@use './blocks/util/vars' as v;
@use './templates/colors-and-type.scss';
@use './templates/form-elements.scss';
@use './blocks/color-display/color-display.scss';
@use './blocks/font-display/font-display.scss';
@use './blocks/fieldset/fieldset.scss';
@use './blocks/text-input/text-input.scss';
@use './blocks/dropdown/dropdown.scss';
@use './blocks/datepicker/datepicker.scss';
@use './blocks/checkbox/checkbox.scss';
@use './blocks/radio-button/radio-button.scss';
@use './blocks/like-button/like-button.scss';
@use './blocks/rate-button/rate-button.scss';
@use './blocks/range-slider/range-slider.scss';
@use './blocks/button/button.scss';
@use './blocks/pagination/pagination.scss';
@use './blocks/expandable/expandable.scss';
@use './blocks/bullet-list/bullet-list.scss';
@use './blocks/feature/feature.scss';
@use './blocks/comment/comment.scss';

* {
  margin: 0;
  padding: 0;
}

body,input {
  font: v.$body;
  color: v.$primary-color75;
}

h1 {font: v.$h1;}
h2 {font: v.$h2;}
h3 {font: v.$h3;}
h1,h2,h3 {color: v.$primary-color100;}

//Material Icons rules
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

//-Font-faces
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/Montserrat/regular/Montserrat-Regular.eot');
  src: url('./assets/fonts/Montserrat/regular/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
          url('./assets/fonts/Montserrat/regular/Montserrat-Regular.woff') format('woff'),
          url('./assets/fonts/Montserrat/regular/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/Montserrat/bold/Montserrat-Bold.eot');
  src: url('./assets/fonts/Montserrat/bold/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
          url('./assets/fonts/Montserrat/bold/Montserrat-Bold.woff') format('woff'),
          url('./assets/fonts/Montserrat/bold/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/MaterialIcons/MaterialIcons-Regular.eot'); /* For IE6-8 */
  src: url('./assets/fonts/MaterialIcons/MaterialIcons-Regular.woff') format('woff'),
          url('./assets/fonts/MaterialIcons/MaterialIcons-Regular.ttf') format('truetype');
}