@use './blocks/util/vars' as v;
@use './blocks/color-display/color-display.scss';
@use './blocks/font-display/font-display.scss';
@use './blocks/form/form.scss';
@use './blocks/fieldset/fieldset.scss';
@use './blocks/text-input/text-input.scss';
@use './blocks/dropdown/dropdown.scss';
@use './blocks/datepicker/datepicker.scss';
@use './blocks/checkbox/checkbox.scss';
@use './blocks/radio-button/radio-button.scss';
@use './blocks/like-button/like-button.scss';
@use './blocks/rate-button/rate-button.scss';
@use './blocks/range-slider/range-slider.scss';
@use './blocks/button/button.scss';
@use './blocks/pagination/pagination.scss';
@use './blocks/expandable/expandable.scss';

* {
    margin: 0;
    padding: 0;
}

body,input {
    font: v.$body;
    color: v.$primary-color75;
}

h1 {font: v.$h1;}
h2 {font: v.$h2;}
h3 {font: v.$h3;}
h1,h2,h3 {color: v.$primary-color100;}

//Костыли и обёртки для ui-kit
.main-wrap {
    padding: 145px 150px;
}

.colors-and-types {
    display: flex;
}

.display-container:nth-child(2) {
  margin-left: 415px;
  width: 436px;
}

.form-elements {
  margin-top: 335px;
}

.form-wrap {
  display: flex;
}

.form-wrap-column:nth-child(2) {
  margin-left: 126px;
}

.form-wrap-column:nth-child(3) {
  margin-left: 72px;
}

.form-wrap-column>fieldset:not(:first-child) {
  margin-top: 37px;
}

.form-wrap-column:nth-child(2)>fieldset:nth-child(4) {
  margin-top: 40px;
}

.text-input-wrap>fieldset {
  &:not(:last-child) {
    margin-bottom: 16px;
  }
  &:nth-last-child(2) {
    margin-bottom: 19px;
  }
}

.dropdown-wrap {
  margin-top: 36px;
  &>form, >fieldset:not(:last-child) {
    margin-bottom: 37px;
  }
}

.radio-wrap {
  display: flex;
  padding-top: 10px;
  &>:nth-child(2) {
    margin-left: 20px;
  }
}

.toggle-wrap>div.checkbox {
  margin-top: 11px;
  &:nth-child(2) {
    margin-top: 14px;
  }
}

.like-wrap {
  display: flex;
  padding-top: 12px;
  &>.like-button:nth-child(2) {
    margin-left: 10px;
  }
}

.rate-wrap {
  display: flex;
  padding-top: 11px;
  &>.rate-button:nth-child(2) {
    margin-left: 20px;
  }
}

.fieldset>.range-slider {
  margin-top: 17px;
}

.fieldset>.button-wrap:first-of-type {
  margin-top: 16px;
}

.button-wrap {
  display: flex;
  &>button:nth-child(2) {
    margin-left: 20px;
  }
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.inited-dropdowns-wrap {
  padding-top: 100px;
  display: flex;
}

.temp-wrap {
  width: 266px;
}

//Material Icons rules
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

//-Font-faces
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/Montserrat/regular/Montserrat-Regular.eot');
    src: url('./assets/fonts/Montserrat/regular/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
            url('./assets/fonts/Montserrat/regular/Montserrat-Regular.woff') format('woff'),
            url('./assets/fonts/Montserrat/regular/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('./assets/fonts/Montserrat/bold/Montserrat-Bold.eot');
    src: url('./assets/fonts/Montserrat/bold/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
            url('./assets/fonts/Montserrat/bold/Montserrat-Bold.woff') format('woff'),
            url('./assets/fonts/Montserrat/bold/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/MaterialIcons/MaterialIcons-Regular.eot'); /* For IE6-8 */
    src: url('./assets/fonts/MaterialIcons/MaterialIcons-Regular.woff') format('woff'),
            url('./assets/fonts/MaterialIcons/MaterialIcons-Regular.ttf') format('truetype');
  }