@use '../../assets/scss/vars';

.like-button {
  cursor: pointer;
  box-sizing: border-box;
  width: 40px;
  height: 20px;
  border: 1px solid vars.$primary-color25;
  border-radius: 10px;
  color: vars.$primary-color25;
  display: flex;
  &_state_liked {
    color: vars.$accent-color;
    border-color: vars.$accent-color;
    &>.like-button__symbol.material-icons {
    background: vars.$accent-gradient;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    }
  }
}

.like-button__symbol {
  align-self: center;
  text-align: center;
  width: 50%;
}

.like-button__symbol.material-icons {
  font-size: 10px;
}

.like-button__value {
  font-size: 10px;
  align-self: center;
  line-height: 1;
}