@use '../util/vars' as v;

.like-button {
  box-sizing: border-box;
  width: 40px;
  height: 20px;
  border: 1px solid v.$primary-color25;
  border-radius: 10px;
  color: v.$primary-color25;
  display: flex;
  &_state_liked {
    color: v.$accent-color;
    border-color: v.$accent-color;
    &>.like-button__symbol.material-icons {
    background: v.$accent-gradient;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    }
  }
}

.like-button__symbol {
  align-self: center;
  text-align: center;
  width: 50%;
}

.like-button__symbol.material-icons {
  font-size: 10px;
}

.like-button__value {
  font-size: 10px;
  align-self: center;
}