include ../button/button

mixin header(attr)
  div(class=(attr.isSticky ? "header_position_fixed" : "header"))
    .header__logo
      img(src="../../assets/svg/logo.svg", alt="toxin logo")
    nav(class="header__navigation-wrap")
      ul(class="header__navigation")
        li(class="header__navigation-item")
          a(class="header__navigation-link" href="/change-me") О нас
        li(class="header__navigation-item header__navigation-item_with-arrow")
          a(class="header__navigation-link" href="/change-me") Услуги
        li(class="header__navigation-item")
          a(class="header__navigation-link" href="/change-me") Вакансии
        li(class="header__navigation-item")
          a(class="header__navigation-link" href="/change-me") Новости
        li(class="header__navigation-item header__navigation-item_with-arrow")
          a(class="header__navigation-link" href="/change-me") Соглашения
    if attr.isAuthorised
      .header__separator
      span(class='header__username') Юлий Цезарь
    else
      section(class="header__authorisation")
        +button({type: 'button', value: 'войти', style: 'border', isForHeader: true})
        +button({type: 'submit', value: 'зарегистрироваться', style: 'submit', isForHeader: true})