@use '../../assets/scss/vars';
@use '../button/button.scss';

.header {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  padding-left: 9.7222%;
  padding-right: 9.7222%;
  padding-top: 0.94rem;
  padding-bottom: 0.7rem;
}

.header__navigation,
.header__navigation-wrap {
  display: flex;
  align-items: center;
}

.header__navigation-wrap {
  padding-bottom: 4px;
  &>*:not(:last-child) {
    margin-right: 20px;
  }
}

.header__navigation-item {
  list-style: none;
  white-space: nowrap;
  &:first-child {
    font: vars.$rich;
  }
  &:not(:last-child) {
    margin-right: 1.25rem;
  }
  &:nth-of-type(2),
  &:nth-of-type(5) {
    transform: translateY(1px);
    &::after {
      content: 'expand_more';
      font-family: 'Material Icons';
      font-size: 24px;
      vertical-align: middle;
    }
  }
}

.header__separator {
  border-left: 1px solid vars.$primary-color10;
}