@use '../../assets/scss/vars';
@use '../button/button.scss';

.header {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  background-color: white;
  width: 100%;
  padding-left: 9.7222%;
  padding-right: 9.7222%;
  padding-top: 0.94rem;
  padding-bottom: 0.7rem;
  &_position_fixed {
    @extend .header;
    position: sticky;
    top: 0;
    left: 0;
  }
}

.header__navigation-wrap {
  margin-left: auto;
}

.header__navigation {
  display: flex;
  align-items: center;
  padding-bottom: 4px;
  &>.header__navigation-item {
    margin-right: 20px;
  }
}

.header__navigation-item {
  list-style: none;
  white-space: nowrap;
  &:first-child {
    font: vars.$rich;
  }
  &:nth-of-type(2),
  &:nth-of-type(5) {
    transform: translateY(1px);
    &::after {
      content: 'expand_more';
      font-family: 'Material Icons';
      font-size: 24px;
      vertical-align: middle;
    }
  }
}

.header__authorisation {
  display: flex;
  padding-bottom: 4px;
  &>.button_style_header:first-child {
    margin-right: 1.25rem;
  }
}

.header__username {
  padding-bottom: 4px;
}

.header__separator {
  border-left: 1px solid vars.$primary-color10;
  margin-right: 22px;
  height: 1.875rem;
}

@media (max-width: 1400px) {
  .header {
    padding: 15px 5%;
  }
}

@media (max-width: 1024px) {
  .header {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .header__navigation-wrap {
    order: 1;
    width: 100%;
  }
  .header__navigation {
    justify-content: space-evenly;
  }
}

@media (max-width: 540px) {
  .header__navigation {
    flex-wrap: wrap;
  }
  .header__authorisation {
    margin: 0.5rem auto;
  }
}

@media (max-width: 320px) {
  .header__authorisation {
    flex-direction: column;
  }
  .button_style_header:not(#specifity) {
    margin: 0.25rem auto;
  }
}