@use '../../assets/scss/vars';

.bullet-list {
  list-style: none;
}

.bullet-list__item {
  display: flex;
  align-items: baseline;
  line-height: 24px;
  margin-bottom: 10px;
}

.bullet-list__item::before {
  display: inline-block;
  content: '';
  background-color: vars.$primary-color25;
  border-radius: 50%;
  min-width: 10px;
  height: 10px;
}

.bullet-list__item-text {
  padding-left: 10px;
}